html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.mg-left {
    margin-left: 10px;
}

.mg-top {
    margin-top: 10px;
}

.line-end {
    float: inline-end;
}

.wd-50 {
    width: 50%;
}

.wd-100 {
    width: 100%;
}

.tx-center{
    text-align: center;
}

.nada-cadastrado {
    width: 100%;
    margin-top: 14px;
    margin-bottom: 14px;
    padding: 14px;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0, 0, 0, .27);
    border-radius: 3px;
    color: #5a5555;
}

.nada-cadastrado > a {
    text-decoration: none;
    color: #212121;
}

.nada-cadastrado > a:hover {
    color: #5a5555;
}

.container.table {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.pd-0{
    padding:0;
}